.event {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1100px;
  padding: 20px;
  font-size: 17px;
  line-height: 21px;
}

.event--edit {
  display: block;
  padding: 0;
  background-color: #ffffff;
  border-radius: 18px;
  -webkit-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.043);
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.043);
}

.event__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}

.event__type-wrapper {
  position: relative;
}

.event__type {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  margin-right: 18px;
  background-color: #ffffff;
  border-radius: 50%;
}

.event__type-btn {
  padding: 0;
  border: 1px solid #0d8ae4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.event__type-icon {
  display: block;
  width: 17px;
  height: 17px;
}

.event__type-list {
  position: absolute;
  z-index: 2;
  top: calc(100% + 7px);
  left: -20px;
  display: none;
  width: 180px;
  background-color: #ffffff;
  border: 1px solid rgba(151, 151, 151, 0.169724);
  -webkit-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.219146);
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.219146);
  border-radius: 4px;
}

.event__type-toggle:checked + .event__type-list {
  display: block;
}

.event__type-group {
  padding: 13px 0 11px;
  margin: 0;
  border: none;
}

.event__type-group:not(:last-of-type) {
  border-bottom: 1px solid rgba(151, 151, 151, 0.33);
}

.event__type-item:not(:last-child) {
  margin-bottom: 5px;
}

.event__type-label {
  position: relative;
  display: block;
  padding: 5px 10px 5px 62px;
  font-size: 17px;
  line-height: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.event__type-label::before {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: 32px;
  width: 17px;
  height: 17px;
  background-position: 0 0;
  background-size: 17px 17px;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.event__type-label--taxi::before {
  background-image: url("./img/icons/taxi.png");
}
.event__type-label--bus::before {
  background-image: url("./img/icons/bus.png");
}
.event__type-label--train::before {
  background-image: url("./img/icons/train.png");
}
.event__type-label--ship::before {
  background-image: url("./img/icons/ship.png");
}
.event__type-label--transport::before {
  background-image: url("./img/icons/transport.png");
}
.event__type-label--drive::before {
  background-image: url("./img/icons/drive.png");
}
.event__type-label--flight::before {
  background-image: url("./img/icons/flight.png");
}
.event__type-label--check-in::before {
  background-image: url("./img/icons/check-in.png");
}
.event__type-label--sightseeing::before {
  background-image: url("./img/icons/sightseeing.png");
}
.event__type-label--restaurant::before {
  background-image: url("./img/icons/restaurant.png");
}
.event__type-label:hover {
  color: #ffd054;
}

.event__type-input:checked + .event__type-label {
  color: #000000;
  background-color: #ffd054;
}
.event__type-input:checked + .event__type-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 11px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.event__title {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 298px;
  margin: 0;
  margin-right: 15px;
  font-weight: 400;
  font-size: inherit;
}

.event__schedule {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 285px;
  margin-right: 15px;
}

.event__time {
  margin: 0;
  margin-bottom: 4px;
}

.event__duration {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #999999;
  opacity: 0.9;
}

.event__price {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 96px;
  margin: 0;
  margin-right: 15px;
}

.event__selected-offers {
  width: 230px;
  padding: 0;
  margin: 0;
  font-weight: 600;
  list-style: none;
}

.event__rollup-btn {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.event__rollup-btn::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: border-color 0.2s, -webkit-transform 0.6s;
  transition: border-color 0.2s, -webkit-transform 0.6s;
  transition: border-color 0.2s, transform 0.6s;
  transition: border-color 0.2s, transform 0.6s, -webkit-transform 0.6s;
}
.event__rollup-btn:hover::after {
  border-color: #0d8ae4;
}

.event--edit .event__rollup-btn::after {
  top: calc(50% + 3px);
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
  transform: translate(-50%, -50%) rotate(225deg);
}

.event__field-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 2px;
  margin-right: 18px;
  border-bottom: 1px solid #0d8ae4;
}
.event__field-group--destination {
  width: 290px;
}

.event__label {
  margin-right: 5px;
  cursor: pointer;
}

.event__input {
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.event__input--destination {
  width: 150px;
}
.event__input--destination::-webkit-calendar-picker-indicator {
  display: none;
}
.event__input--time {
  width: 130px;
  text-align: center;
}
.event__input--price {
  width: 66px;
}

.event__save-btn {
  margin-right: 18px;
}

.event__reset-btn {
  display: block;
  padding: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  font-family: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #0d8ae4;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.event__reset-btn:hover {
  opacity: 0.8;
}
.event__reset-btn:active {
  opacity: 0.6;
}

.event__favorite-btn {
  margin-left: 36px;
  margin-right: 18px;
  color: #ebebeb;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.event__favorite-btn:hover {
  color: rgba(255, 208, 84, 0.6);
}

.event__favorite-checkbox:checked + .event__favorite-btn {
  color: #ffd054;
}

.event__favorite-icon {
  display: block;
  width: 28px;
  height: 28px;
  fill: currentColor;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
