html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

main {
  display: block;
}

@-moz-document url-prefix() {
  body {
    font-weight: 200;
    -moz-osx-font-smoothing: grayscale;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

.page-body,
#root {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 1.2;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
}

.trip-main {
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 10px;
}
.trip-main--hidden {
  display: none;
}

.trip-main__trip-info {
  width: 100%;
  margin-bottom: 35px;
}

.trip-main__trip-controls {
  width: 600px;
}

.trip-main__event-add-btn {
  min-width: 170px;
}
.trip-main__event-add-btn::before {
  content: "\002B\000A0";
}
.trip-main__event-add-btn--hidden {
  display: none;
}

.trip-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
}

.trip-info__main {
  width: 600px;
}

.trip-info__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
}

.trip-info__dates {
  margin: 0;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  opacity: 0.8;
}

.trip-info__cost {
  width: 170px;
  margin: 0 0 0 auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}

.trip-controls__trip-tabs {
  margin-bottom: 9px;
}

.trip-tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
}

.trip-tabs__btn {
  display: block;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: inherit;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.trip-tabs__btn:not(:last-of-type) {
  margin-right: 26px;
}
.trip-tabs__btn:hover {
  opacity: 1;
}
.trip-tabs__btn:active {
  opacity: 0.6;
}
.trip-tabs__btn--active,
.trip-tabs__btn--active:hover,
.trip-tabs__btn--active:active {
  opacity: 1;
  cursor: default;
}

.trip-filters {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
}
.trip-filters--hidden {
  display: none;
}

.trip-filters__filter:not(:last-of-type) {
  margin-right: 19px;
}

.trip-filters__filter-label {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.trip-filters__filter-label:hover {
  opacity: 1;
}
.trip-filters__filter-label:active {
  opacity: 0.6;
}

.trip-filters__filter-input:checked + .trip-filters__filter-label {
  opacity: 1;
  cursor: default;
}

.trip-search {
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 8px;
  padding-bottom: 56px;
  color: #ffffff;
}
.trip-search--start {
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
}
.trip-search--hidden {
  display: none;
}

.trip-search__container {
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 45px;
}
.trip-search__container--start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 0;
}

.trip-search__label {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.trip-search__label--start {
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 34px;
}

.trip-search__field {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 6px;
  font-size: 21px;
  line-height: 38px;
  font-family: inherit;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
.trip-search__field::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.64);
  opacity: 1;
}
.trip-search__field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.64);
  opacity: 1;
}
.trip-search__field::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.64);
  opacity: 1;
}
.trip-search__field::placeholder {
  color: rgba(255, 255, 255, 0.64);
  opacity: 1;
}
.trip-search__field:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.trip-search__field:focus {
  border-bottom: 1px solid #ffffff;
}
.trip-search__field--start {
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: auto;
  padding: 0 12px;
  margin-right: 35px;
  font-size: 24px;
  line-height: 53px;
}

.trip-search__btn--start {
  min-width: 128px;
}

.trip-start {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 240px;
  background-color: #078ff0;
}
.trip-start--hidden {
  display: none;
}

.trip-start__search-form {
  width: 748px;
  margin: 0 auto;
}

.trip-start__logo {
  display: block;
  width: 54px;
  height: 54px;
  margin-right: 22px;
}

.trip-events__trip-sort {
  margin-bottom: 8px;
}

.trip-events__msg {
  margin: 0;
  margin-top: 280px;
  font-weight: 500;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  opacity: 0.89;
}
.trip-events__msg--hidden {
  display: none;
}

.trip-events__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.trip-events__item {
  margin-bottom: 54px;
  margin-left: auto;
}

.trip-sort {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}

.trip-sort__item {
  margin-right: 15px;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #b4b4b4;
  cursor: default;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.trip-sort__item:last-child {
  margin-right: 0;
}
.trip-sort__item--day {
  width: 55px;
  text-align: center;
  margin-right: 83px;
}
.trip-sort__item--event {
  width: 298px;
}
.trip-sort__item--time {
  width: 283px;
}
.trip-sort__item--price {
  width: 119px;
}

.trip-sort__btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 15px 6px 22px;
  border: 1px solid transparent;
  border-radius: 14px;
  cursor: pointer;
}
.trip-sort__btn:hover {
  color: #000000;
}
.trip-sort__input:checked + .trip-sort__btn {
  position: relative;
  color: #000000;
  border-color: #000000;
}
.trip-sort__input:checked + .trip-sort__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  width: 8px;
  height: 8px;
  background-color: #ffd054;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.trip-sort__direction-icon {
  display: none;
  width: 8px;
  height: 10px;
  margin-left: 5px;
}

.trip-sort__btn--by-decrease .trip-sort__direction-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.day {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.day__info {
  width: 55px;
  padding-top: 13px;
  margin-right: 25px;
}

.day__counter {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
}

.day__date {
  display: block;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.statistics {
  padding-top: 47px;
  padding-left: 37px;
}

.statistics__item:not(:last-child) {
  margin-bottom: 78px;
}
